@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  background-color: #e1e5ee;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}
